/data
/tsne-cuda

result_mlm*

g.sh

model/RTE_BERT*
model/SST2PromptRoberta*
model/REPrompt*
model/MNLIPromptRoberta*
model/MRPCPromptRoberta*
model/QNLIPromptRoberta*
model/QQPPromptRoberta*
model/RTEPromptRoberta*
model/STSBPromptRoberta*
model/WNLIPromptRoberta*
model/laptopPromptRoberta*
model/restaurantPromptRoberta*
model/IMDBPromptRoberta*
model/WikiREDPromptRoberta*
model/projectPromptRoberta*
model/projectPromptRoberta_1layer*
model/projectorPromptRoberta*
model/crossPromptRoberta*

model/anliPromptRoberta*
model/emobankarousalPromptRoberta*
model/emobankdominancePromptRoberta*
model/movierationalesPromptRoberta*
model/persuasivenessrelevancePromptRoberta*
model/persuasivenessspecificityPromptRoberta*
model/recastfactualityPromptRoberta*
model/snliPromptRoberta*
model/squinkyformalityPromptRoberta*
model/squinkyimplicaturePromptRoberta*
model/tweetevalsentimentPromptRoberta*

model/RTE_BERT_mlm*
model/SST2PromptRoberta_mlm*
model/REPrompt_mlm*
model/MNLIPromptRoberta_mlm*
model/MRPCPromptRoberta_mlm*
model/QNLIPromptRoberta_mlm*
model/QQPPromptRoberta_mlm*
model/RTEPromptRoberta_mlm*
model/STSBPromptRoberta_mlm*
model/WNLIPromptRoberta_mlm*
model/laptopPromptRoberta_mlm*
model/restaurantPromptRoberta_mlm*
model/IMDBPromptRoberta_mlm*
model/WikiREDPromptRoberta_mlm*
model/projectPromptRoberta_mlm*
model/projectorPromptRoberta_mlm*
model/crossPromptRoberta_mlm*


model/agnewsPromptRoberta_mlm_s1*
model/agnewsPromptRoberta_mlm_s2*
model/cs_wikiPromptRoberta_mlm_s1*
model/cs_wikiPromptRoberta_mlm_s2*
model/IMDBPromptRoberta_mlm_s1*
model/IMDBPromptRobertaMedium_mlm_s1*
model/IMDBPromptBertMedium_mlm_s1*
model/IMDBPromptRoberta_mlm_s2*
model/sciercPromptRoberta_mlm_s1*
model/sciercPromptRoberta_mlm_s2*
model/SST2PromptRoberta_mlm_s1*
model/SST2PromptRoberta_mlm_s2*












model/SST2PromptBert*
model/REPrompt*
model/MNLIPromptBert*
model/MRPCPromptBert*
model/QNLIPromptBert*
model/QQPPromptBert*
model/RTEPromptBert*
model/STSBPromptBert*
model/WNLIPromptBert*
model/laptopPromptBert*
model/restaurantPromptBert*
model/IMDBPromptBert*
model/WikiREDPromptBert*
model/projectPromptBert*
model/projectPromptBert_1layer*
mode/projectorPromptBert*
model/crossPromptBert*


model/restaurantPromptBertMedium*



model/anliPromptBert*
model/emobankarousalPromptBert*
model/emobankdominancePromptBert*
model/movierationalesPromptBert*
model/persuasivenessrelevancePromptBert*
model/persuasivenessspecificityPromptBert*
model/recastfactualityPromptBert*
model/snliPromptBert*
model/squinkyformalityPromptBert*
model/squinkyimplicaturePromptBert*
model/tweetevalsentimentPromptBert*


model/SST2PromptBert_mlm*
model/REPrompt_mlm*
model/MNLIPromptBert_mlm*
model/MRPCPromptBert_mlm*
model/QNLIPromptBert_mlm*
model/QQPPromptBert_mlm*
model/RTEPromptBert_mlm*
model/STSBPromptBert_mlm*
model/WNLIPromptBert_mlm*
model/laptopPromptBert_mlm*
model/restaurantPromptBert_mlm*
model/IMDBPromptBert_mlm*
model/WikiREDPromptBert_mlm*
model/projectPromptBert_mlm*
model/projectPromptBert_mlm_1layer*
mode/projectorPromptBert_mlm*
model/crossPromptBert_mlm*

model/agnewsPromptBert_mlm_s1*
model/agnewsPromptBert_mlm_s2*
model/cs_wikiPromptBert_mlm_s1*
model/cs_wikiPromptBert_mlm_s2*
model/IMDBPromptBert_mlm_s1*
model/IMDBPromptBert_mlm_s2*
model/sciercPromptBert_mlm_s1*
model/sciercPromptBert_mlm_s2*
model/SST2PromptBert_mlm_s1*
model/SST2PromptBert_mlm_s2*



model/crossPromptRoberta_only_IMDB_laptop*
model/crossPromptRoberta_IMDB,laptop*
model/crossPromptRoberta_IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
model/cross_mlmPromptRoberta*
model/cross_Bert_to_Roberta_reconstructionLoss_no_STSB*
model/cross_Bert_to_Roberta_reconstructionLoss_only_imdb_laptop*
model/cross_Bert_to_Roberta_reconstructionLoss_mlm*


model/projectPromptRoberta_wnli,sst2,restaurant,qqp,mnli,laptop,imdb,rte*
model/projectPromptRoberta__all_but_no_STSB__76800_to_1200*
model/cross_Bert_to_Roberta_reconstructionLoss_mlm_768_768*
model/cross_Bert_to_Roberta_reconstructionLoss_mlm*
model/cross_Bert_to_Roberta_reconstructionLoss_all_task*


task_activated_neuron*

/result_mlm


/RobertaForMaskedLM*
/RobertaLargeForMaskedLM*
#/task_prompt_emb
/tensorboard*

/bert-base-uncased
/BertForMaskedLM
/BertMediumForMaskedLM
/BertLargeForMaskedLM

../CSS-LM
../GCAE

