#torch
transformers==4.36.0
numpy==1.23.3
accelerate
datasets
openprompt
scikit-learn
matplotlib
seaborn

#torch==1.9.0+cu111 torchvision==0.10.0+cu111 torchaudio==0.9.0 -f https://download.pytorch.org/whl/torch_stable.html

