[train] #train parameters
epoch = 100
batch_size = 16

reader_num = 0

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[eval] #eval parameters
batch_size = 64

reader_num = 0

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
#train_dataset_type = IMDB,laptop
train_formatter_type = crossPromptRoberta
train_data_path = None

matched = True
valid_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
#valid_dataset_type = IMDB,laptop
valid_formatter_type = crossPromptRoberta
valid_data_path = None


test_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
#test_dataset_type = IMDB,laptop
test_formatter_type = crossPromptRoberta
test_data_path = None

[model] #model parameters
model_base = Roberta
model_name = crossPromptRoberta

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = crossPromptRoberta

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
