[train] #train parameters
epoch = 300
batch_size = 16

reader_num = 0

optimizer = adamw
#learning_rate = 0.005
learning_rate = 0.01
weight_decay = 0
accumulation_step = 1
step_size = 1
lr_multiplier = 1
initial_prompt = True

max_len = 128
target_len = 1

source_prompt = restaurantPromptXXLT5

[eval] #eval parameters
batch_size = 64
num_beams = 1
min_length= 2
max_length= 2


reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100
pad_to_max_length = True


[data] #data parameters
train_dataset_type = restaurant
train_formatter_type = restaurantPromptT5
train_data_path = ./data/restaurant/train.json

matched = True
valid_dataset_type = restaurant
valid_formatter_type = restaurantPromptT5
valid_data_path = ./data/restaurant/test.json


test_dataset_type = restaurant
test_formatter_type = restaurantPromptT5
test_data_path = ./data/restaurant/test.json

[model] #model parameters
model_base = T5
model_name = crossPromptT5
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = crossPromptT5_restaurant_100_t5xxl_to_t5base

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
