[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl


[eval] #eval parameters
batch_size = 64

reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = emobankarousal
train_formatter_type = emobankarousalPromptRoberta
train_data_path = ./data/emobank-arousal/train.tsv

valid_dataset_type = emobankarousal
valid_formatter_type = emobankarousalPromptRoberta
valid_data_path = ./data/emobank-arousal/dev.tsv

test_dataset_type = emobankarousal
test_formatter_type = emobankarousalPromptRoberta
test_data_path = ./data/emobank-arousal/test.tsv

[model] #model parameters
model_base = Bert
model_name = PromptBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = emobankarousalPromptBert

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
