[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

label_num = 64
max_len = 180


[eval] #eval parameters
batch_size = 16

reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = RE
train_formatter_type = REPrompt
train_data_path = /data3/private/suyusheng/prompt/prompt/data/RE/train_wiki.json

valid_dataset_type = RE
valid_formatter_type = REPrompt
valid_data_path = /data3/private/suyusheng/prompt/prompt/data/RE/val_wiki.json

test_dataset_type = RE
test_formatter_type = REPrompt
test_data_path = /data3/private/suyusheng/prompt/prompt/data/RE/val_wiki.json

label_info = /data3/private/suyusheng/prompt/prompt/data/RE/linfo.json
label_index = /data3/private/suyusheng/prompt/prompt/data/RE/label2token.json

[model] #model parameters
model_name = REPrompt

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data3/private/suyusheng/prompt/prompt/model
model_name = REPrompt

tensorboard_path = /data3/private/suyusheng/prompt/prompt/tensorboard

output_function = acc

tqdm_ncols = 150
