[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 180

[eval] #eval parameters
batch_size = 16

reader_num = 1

[data] #data parameters
train_dataset_type = RTE
train_formatter_type = RTE
train_data_path = /data/disk1/private/xcj/prompt/data/RTE/train.tsv

valid_dataset_type = RTE
valid_formatter_type = RTE
valid_data_path = /data/disk1/private/xcj/prompt/data/RTE/dev.tsv

test_dataset_type = RTE
test_formatter_type = RTE
test_data_path = /data/disk1/private/xcj/prompt/data/RTE/test.tsv

[model] #model parameters
model_name = BinaryClsBERT

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/prompt/model
model_name = RTE_BERT

tensorboard_path = /data/disk1/private/xcj/prompt/tensorboard

output_function = acc

tqdm_ncols = 150
