[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 0

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl

[eval] #eval parameters
batch_size = 64

reader_num = 0

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = snli
train_formatter_type = snliPromptRoberta
train_data_path = ./data/snli/train.json

matched = True
valid_dataset_type = snli
valid_formatter_type = snliPromptRoberta
valid_data_path = ./data/snli/dev.json


test_dataset_type = snli
test_formatter_type = snliPromptRoberta
test_data_path = ./data/snli/test.json

[model] #model parameters
model_base = Bert
model_name = PromptBert
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = snliPromptBert

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
