[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl


[eval] #eval parameters
batch_size = 64

reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = squinkyimplicature
train_formatter_type = squinkyimplicaturePromptRoberta
train_data_path = ./data/pragmeval/squinky-implicature/train.tsv

valid_dataset_type = squinkyimplicature
valid_formatter_type = squinkyimplicaturePromptRoberta
valid_data_path = ./data/pragmeval/squinky-implicature/dev.tsv

test_dataset_type = squinkyimplicature
test_formatter_type = squinkyimplicaturePromptRoberta
test_data_path = ./data/pragmeval/squinky-implicature/test.tsv

[model] #model parameters
model_base = Roberta
model_name = PromptRoberta
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = squinkyimplicaturePromptRoberta

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
