[train] #train parameters
epoch = 32
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl


[eval] #eval parameters
batch_size = 64

reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = SST2
train_formatter_type = SST2_PromptRoberta
train_data_path = /data3/private/suyusheng/prompt/prompt/data/SST-2_s1/train.tsv

valid_dataset_type = SST2
valid_formatter_type = SST2_PromptRoberta
valid_data_path = /data3/private/suyusheng/prompt/prompt/data/SST-2_s1/dev.tsv

test_dataset_type = SST2
test_formatter_type = SST2_PromptRoberta
test_data_path = /data3/private/suyusheng/prompt/prompt/data/SST-2_s1/test.tsv

[model] #model parameters
model_base = Bert
model_name = PromptBert

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data3/private/suyusheng/prompt/prompt/model
model_name = SST2PromptBert

tensorboard_path = /data3/private/suyusheng/prompt/prompt/tensorboard

output_function = acc

tqdm_ncols = 150
