[train] #train parameters
epoch = 16
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl

[eval] #eval parameters
batch_size = 64

reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data]
train_dataset_type = RE
train_formatter_type = WikiREPromptRoberta
train_data_path = ./data/fewrel/train.json

valid_dataset_type = RE
valid_formatter_type = WikiREPromptRoberta
valid_data_path = ./data/fewrel/dev.json

test_dataset_type = RE
test_formatter_type = WikiREPromptRoberta
test_data_path = ./data/fewrel/test.json

[model] #model parameters
model_base = Bert
model_name = PromptBert
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = WikiREPromptBert

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
