[train] #train parameters
epoch = 16
batch_size = 18

reader_num = 1

optimizer = bert_adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 18

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BasicBert
train_data_path = /data/disk5/private/zhx/pytorcher/data/nlp
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = BasicBert
valid_data_path = /data/disk5/private/zhx/pytorcher/data/nlp
valid_file_list = valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = BasicBert
test_data_path = /data/disk5/private/zhx/pytorcher/data/nlp
test_file_list = test.json

recursive = False
json_format = line

max_seq_length = 512

[model] #model parameters
model_name = BasicBert

bert_path = /data/disk5/private/zhx/bert/chinese

output_dim = 4

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk5/private/zhx/pytorcher/model
model_name = basic_bert_test

tensorboard_path = /data/disk5/private/zhx/pytorcher/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
