[train] #train parameters
epoch = 50
batch_size = 32

reader_num = 1

optimizer = adamw
learning_rate = 5e-4
weight_decay = 0
step_size = 1
lr_multiplier = 1

label_num = 64
max_len = 180


[eval] #eval parameters
batch_size = 16

reader_num = 1

[prompt]
prompt_tune = True
softlabel = True
prompt_len = 50
prompt_num = 100

[data] #data parameters
train_dataset_type = RE
train_formatter_type = REPrompt
train_data_path = /mnt/datadisk0/xcj/prompt/data/RE/train_wiki.json

valid_dataset_type = RE
valid_formatter_type = REPrompt
valid_data_path = /mnt/datadisk0/xcj/prompt/data/RE/val_wiki.json

test_dataset_type = RE
test_formatter_type = REPrompt
test_data_path = /mnt/datadisk0/xcj/prompt/data/RE/val_wiki.json

label_info = /mnt/datadisk0/xcj/prompt/data/RE/linfo.json
label_index = /mnt/datadisk0/xcj/prompt/data/RE/label2token.json

[model] #model parameters
model_name = REPrompt
large = False

[output] #output parameters
output_time = 1
test_time = 1

model_path = /mnt/datadisk0/xcj/prompt/model
model_name = REPromptSoftlabel

tensorboard_path = /mnt/datadisk0/xcj/prompt/tensorboard

output_function = acc

tqdm_ncols = 150
