[train] #train parameters
epoch = 32
batch_size = 16

reader_num = 1

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128
target_len = 3


[distributed]
use = True
backend = nccl


[eval] #eval parameters
batch_size = 1
num_beams = 1
min_length=3
max_length=3
reader_num = 1


[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100
pad_to_max_length = True

[data] #data parameters
train_dataset_type = activate_neuron
train_formatter_type = activate_neuronPromptT5
train_data_path = ./data/activate_neuron_data/train.json

valid_dataset_type = activate_neuron
valid_formatter_type = activate_neuronPromptT5
valid_data_path = ./data/activate_neuron_data/valid.json

test_dataset_type = activate_neuron
test_formatter_type = activate_neuronPromptT5
test_data_path = ./data/activate_neuron_data/valid.json

[model] #model parameters
model_base = T5
model_name = PromptT5
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = activate_neuronPromptT5

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
