[train] #train parameters
epoch = 1024
batch_size = 16

reader_num = 0

optimizer = adamw
learning_rate = 0.001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl

[eval] #eval parameters
batch_size = 64

reader_num = 0

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100


[data] #data parameters
#train_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,WNLI
#train_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
train_dataset_type = laptop
#train_dataset_type = QNLI,STSB,MNLI,RTE
#train_dataset_type = QNLI,MNLI,RTE
train_formatter_type = crossPrompt
train_data_path = None


matched = True
#valid_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,WNLI
#valid_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
valid_dataset_type = laptop
#valid_dataset_type = restaurant
#valid_dataset_type = IMDB,laptop
#valid_dataset_type = QNLI,STSB,MNLI,RTE
valid_formatter_type = crossPrompt
valid_data_path = None


#test_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,WNLI
#test_dataset_type = IMDB,laptop,MNLI,MRPC,QNLI,QQP,restaurant,RTE,SST2,STSB,WNLI
test_dataset_type = laptop
#test_dataset_type = QNLI,STSB,MNLI,RTE
#test_dataset_type = QNLI,MNLI,RTE
test_formatter_type = crossPrompt
test_data_path = None

[model] #model parameters
model_base = Roberta
model_name = crossPrompt
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = crossPromptRoberta_emotion

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
