[train] #train parameters
epoch = 300
batch_size = 16

reader_num = 0

optimizer = adamw
learning_rate = 0.005
weight_decay = 0
accumulation_step = 1
step_size = 1
lr_multiplier = 1
initial_prompt = True


max_len = 128
target_len = 1


[eval] #eval parameters
batch_size = 64
num_beams = 1
min_length=3
max_length=3


reader_num = 1

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100
pad_to_max_length = True

[distributed]
use = True
backend = nccl

[data] #data parameters
doc_stride = 128
pad_on_right = True

train_dataset_type = QQP
train_formatter_type = QQPPromptT5
train_data_path = None

valid_dataset_type = QQP
valid_formatter_type = QQPPromptT5
valid_data_path = None

test_dataset_type = QQP
test_formatter_type = QQPPromptT5
test_data_path = None

[model] #model parameters
model_base = T5
model_name = PromptT5
model_size = small

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = QQPPromptT5Small

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
