[train] #train parameters
epoch = 128
batch_size = 16

reader_num = 0

optimizer = adamw
learning_rate = 0.0001
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 128

[distributed]
use = True
backend = nccl

[eval] #eval parameters
batch_size = 64

reader_num = 0

[prompt]
prompt_tune = True
prompt_len = 100
prompt_num = 100

[data] #data parameters
train_dataset_type = recastner
train_formatter_type = recastnerPromptRoberta
train_data_path = ./data/recast/train/recast_ner_data_1.json

valid_dataset_type = recastner
valid_formatter_type = recastnerPromptRoberta
valid_data_path = ./data/recast/dev/recast_ner_data.json

test_dataset_type = recastner
test_formatter_type = recastnerPromptRoberta
test_data_path = ./data/recast/test/recast_ner_data.json

[model] #model parameter
model_base = Roberta
model_name = PromptRoberta
model_size = large

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = recastnerPromptRobertaLarge

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
