[train] #train parameters
epoch = 16
batch_size = 8

reader_num = 0

optimizer = adamw
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

max_len = 384

[distributed]
use = True
backend = nccl

[eval] #eval parameters
batch_size = 64

reader_num = 0

[prompt]
prompt_tune = False
prompt_len = 10
prompt_num = 10

[data] #data parameters
train_dataset_type = SQuAD
train_formatter_type = SQuADPromptRoberta
train_data_path = ./dataset/SQuAD/train.tsv

valid_dataset_type = SQuAD
valid_formatter_type = SQuADPromptRoberta
valid_data_path = ./dataset/SQuAD/dev.tsv

test_dataset_type =SQuAD
test_formatter_type = SQuADPromptRoberta
test_data_path = ./dataset/SQuAD/test.tsv

[model] #model parameters
model_base = Roberta
model_name = SQuADPromptRoberta
model_size = base

[output] #output parameters
output_time = 1
test_time = 1

model_path = ./model
model_name = SQuADPromptRoberta

tensorboard_path = ./tensorboard

output_function = acc

tqdm_ncols = 150
